<aside>
    <div>
        <h2>What's happening</h2>
        <div>
            <p>Programin • Trending</p>
            <h3>#MongoVsSequelize</h3>
            <p>97.5K Tweets</p>
        </div>
        <div>
            <p>Entertainment • Trending</p>
            <h3>#StarWars</h3>
            <p>97.5K Tweets</p>
        </div>
        <div>
            <p>News • Trending</p>
            <h3>#LifeInMars</h3>
            <p>97.5K Tweets</p>
        </div>
    </div>

    <div>
        <h2>Who to follow</h2>
        <div>
            <img src="" alt="">
            <p>Hack Academy</p>
            <p>@HackAcademyDev</p>
            <button>Follow</button>
        </div>
        
    </div>




</aside>