<aside class="d-flex flex-column justify-content-between m-4 w-20">
  <div class="d-flex flex-column align-items-start">
    <a class="btn mb-4 me-5 p-0" href="#" role="button"
      ><img src="/img/icons/twitter-logo.svg" alt=""
    /></a>

    <a class="btn mb-4 me-5 p-0 border-0" href="#" role="button"
      ><img src="/img/icons/home.svg" alt="" /> Home</a
    >

    <a class="btn mb-4 me-5 p-0 border-0" href="#" role="button"
      ><img src="/img/icons/profile.svg" alt="" />Profile</a
    >

    <a class="btn btn-primary m-0 rounded-pill pl-3 fw-bold" href="#" role="button">Tweet</a>
  </div>

  <div class="text-start">
    <a class="btn btn-danger mt-1 rounded-pill px-3 fw-bold" href="#" role="button">Logout</a>
  </div>
</aside>
