<aside class="col-4 d-none d-sm-block">
    <div>
        <h2>What's happening</h2>
        <div>
            <p>Programin • Trending</p>
            <h3>#MongoVsSequelize</h3>
            <p>97.5K Tweets</p>
        </div>
        <div>
            <p>Entertainment • Trending</p>
            <h3>#StarWars</h3>
            <p>97.5K Tweets</p>
        </div>
        <div>
            <p>News • Trending</p>
            <h3>#LifeInMars</h3>
            <p>97.5K Tweets</p>
        </div>
    </div>

    <div>
        <h2>Who to follow</h2>
        <div class="card-footer bg-white">
            <div class="row mb-3 g-0">
              <div class="col-1">
                <div class="d-flex justify-content-end align-items-center">
                  <img
                    src="/img/icons/generic_avatar.PNG"
                    class="img-fluid rounded-circle w-50 mb-2"
                    alt="..."
                  />
                </div>
              </div>
              <div class="col-5">
                <div class="card-body px-3">
                  <h5 class="card-title mb-0 p-0 fs-6"><%= user.firstname %><%= user.lastname %></h5>
                  <p class="card-text">
                    <small class="text-body-tertiary"><%= user.username%></small>
                  </p>
                </div>
              </div>
              <div class="col-6">
                <div class="text-end">
                  <a
                    class="btn btn-outline-dark mt-1 rounded-pill px-3 fw-bold"
                    href="#"
                    role="button"
                    >Following</a
                  >
                </div>
              </div>
            </div>
          </div>
        
    </div>
</aside>